.quiz-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: "Comic Sans MS", sans-serif;
    font-size: xxx-large;
}

.question-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin-bottom: 2rem;
    text-align: center;
    font-family: "Comic Sans MS", sans-serif;
    font-size: xxx-large;
}

.question-count {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.question-text {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.question-text img {
    max-width: 500px;
    height: 300px;
    display: block;
    margin: 0 auto 1rem auto;
}

.answer-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    width: 80%;
}

.answer-button {
    padding: 1rem;
    text-align: center;
    font-family: "Comic Sans MS", sans-serif;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.answer-button:hover {
    background-color: red;
    color: white;
}

.score-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.restart-quiz {
    font-family: "Comic Sans MS", sans-serif;
    font-size: 1rem;
    color: black;
    margin-top: 10px;
}

.home-page-button {
    font-family: "Comic Sans MS", sans-serif;
    font-size: 1rem;
    color: black;
    margin-top: 10px;
}